body,
html {
	background-color: #fff;
	color: #373a3c;
	--main-color: #ba181b;
	--secondary-color: #f6f6f6;
}
/*image*/
body {
	background-image: url(img/paul-volkmer-_Apdet7E5yU-unsplash.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
/*navbar margins*/
ul li {
	margin-right: 2em;
}
/*navbar bg-color*/
.bg-custom {
	background-color: rgba(13, 13, 13);
}
/*main-text*/
.container {
	color: #ba181b;
	min-height: 500px;
	padding-top: 35vh;
}

h2 {
	color: white;
}
figure {
	color: white;
}
.blockquote-footer {
	color: white;
}
