@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
ul li {
	margin-right: 2em;
}
.bg-custom {
	background-color: rgba(13, 13, 13);
}
.container {
	font-family: 'Nanum Gothic', sans-serif;
	color: #ba181b;
	position: absolute;
	top: 45%;
	left: 15%;
}
h2 {
	color: white;
}
figure {
	color: white;
}
.blockquote-footer {
	color: white;
}
